[submodule "themes/LucentLink-Hugo"]
	path = themes/LucentLink-Hugo
	url = https://github.com/cx48/LucentLink-Hugo
[submodule "assets/fonts/Font-Awesome"]
	path = assets/fonts/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
